*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    background-color: #F5F4F4;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

main{
    display: flex;
    justify-content: center; 
}

.mapita {
    max-width: 100%;
    display: block;
    margin: 0;
    position: relative;
    bottom: 1rem;
}

div {
    color: #211E20;
    background-color: #E5E4D5;
    background-clip: padding-box;
    height: fit-content;
    width: fit-content;
    }

.links{
    color: #1C3F39;
}

.forms {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin: 1.5rem;
    padding-right: 9rem;
    font-family: 'Inter', sans-serif;
    width: 50rem;
    height: 7rem;

}

.botton {
    padding: 1rem 4rem ;
    border-radius: 0.3rem;
    border: 2px solid #14985C;
    background-color: #14985C;
    color: white;
    cursor: pointer;
    


    &:hover {
        background-color:#1c8355;
    }
}

.formulario{
background-color: #1C3F39;
background-clip: padding-box;
height: fit-content;
width: fit-content;
}

.texto_contacto{
    background-color: red;
}



#nombre{
    height: 0.5rem;
}

#mail{
    height: 0.5rem;
}

#tema{
    height: 0.5rem;
}

#mensaje{
    height: 10rem;
}

#preguntas{
    text-align: center;
}

#dudas{
    text-align: center;
}





@media (max-width: 950px) {
    body {
        flex-direction: column;
    }
    section {
        max-width: 100%;
    }
    .forms{
        max-width: 90%;
    }
    .botton{
    position: relative;
    left: 7rem;
    bottom: 0.7rem;
    }
}

@media (min-width: 950px) {
    section {
        
            position: relative;
            left: 20rem;
            top: 10rem;
        }
        
    #mensaje{
        height: 15rem;
    }

    .botton{
        position: relative;
        left: 20rem;
        bottom: 0.5rem;
        }
    }


